<a href="https://colab.research.google.com/github/lindsayjachino/InClassAssignments/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi=3.14
radius = float(input('Enter the radius:'))
height = float(input('Enter the height:'))

surface_area=2*pi*radius**2+2*pi*radius*height

print(f'surface_area:{surface_area} sq.ft')

Enter the radius:5
Enter the height:6
surface_area:345.4 sq.ft

In [ ]:
number1= input ('Enter a number')
number2= input ('Enter a number')
symbol= input ('Enter a symbol (+,-,*,/,//,**,%)')

if symbol == '+':
  print(number1 + number2)
elif symbol == '-':
  print(number1 - number2)
elif symbol == '*':
  print(number1 * number2)
elif symbol == '/':
  print(number1 / number2)
elif symbol == '//':
  print(number1 // number2)
elif symbol == '**':
  print(number1 ** number2)
elif symbol == '%':
  print(number1 % number2)
else:
  print("Invalid symbol")

Enter a number5
Enter a number2
Enter a symbol (+,-,*,/,//,**,%)+
52

In [ ]:
n1=float(input('Please enter first number:'))
n2=float(input('Please enter second number:'))
s=input('Please enter operator:')

if s=='+':
  print(f'{n1}+{n2}={n1+n2}')
elif s=="-":
   print(f'{n1}-{n2}={n1-n2}')
elif symbol == '*':
  print(f'{n1}*{n2}={n1*n2}')
elif symbol == '/':
  print(f'{n1}/{n2}={n1/n2}')
elif symbol == '//':
  print(f'{n1}//{n2}={n1//n2}')
elif symbol == '**':
  print(f'{n1}**{n2}={n1**n2}')
elif symbol == '%':
  print(f'{n1}%{n2}={n1%n2}')
else:
  print("Invalid symbol")

Please enter first number:9
Please enter second number:5
Please enter operator:+
9.0+5.0=14.0

In [ ]:
x=5
if x% 2 == 0:
  result="even"
else:
  result='odd'
print(result)

odd

In [ ]:
for hours in range (1,9):
  price= 5+(2.5*hours)
  if price < 10:
    price= 10.0
  elif price>20:
    price=20.0
  min_price=10

  print(f'{hours} | {price}')

1 | 10.0
2 | 10.0
3 | 12.5
4 | 15.0
5 | 17.5
6 | 20.0
7 | 20.0
8 | 20.0

In [ ]:
for advertisingDollars in range (0,201,25):
  revenue= (20+2* round(advertisingDollars ** .5))*10
  costs= 200+ advertisingDollars
  profit= revenue-costs
  print (f'{advertisingDollars} {profit}')

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
lst= []

num= float(input('Give a number:'))

while num != 0.0:
  lst.append(num)
  num= float(input('Give a number:'))
lst.sort(reverse=True)
print(lst)

Give a number:5
Give a number:4
Give a number:3
Give a number:2
Give a number:1
Give a number:0
[5.0, 4.0, 3.0, 2.0, 1.0]

In [ ]:
months={}

names=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numbers= [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]]=names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months={}

names=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numbers= [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num]=names[num-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
counts= {}

while len(counts) < 5:
  key= input('Give a string: ')

  if key not in counts:
    counts[key]= 1
  else:
    counts[key]+= 1

counts

In [ ]:
def calcFee(hours):
  fee= 5 + 2.5 * hours
  if fee < 10.0:
    fee= 10.0
  elif fee > 20.0:
    fee= 20.0
  print(f'Fee: ${fee}')
  return

print('Program starts...')
numHours = int(input("Enter number of hours parked: "))
fee= calcFee(numHours)
print(fee)

Program starts...
Enter number of hours parked: 4
Fee: $15.0
None

In [ ]:
def reverse(s):
  if len(s) <= 1:
    return s
  else:
    #return s[-1] + reverse(s[:-1])
    #return s[-1] + reverse(s[1:-1]) + s[0]
    return reverse(s[1:]) + s[0]

reverse('Hello')

'olleH'

In [ ]:
def calcFee(hours):
  fee= 5 + 2.5 * hours
  if fee < 10.0:
    fee= 10.0
  elif fee > 20.0:
    fee= 20.0
  print(f'Fee: ${fee}')

def main ():
  try:
    numHours = int(input("Enter number of hours parked: "))
  except ValueError:
    print('Invalid input')
  except:
    print('Unknown error')

if __name__ == "__main__":
  main()

Enter number of hours parked: 5

In [10]:
def getValues(n):
  L = []
  for i in range(n):
    weight = float(input(f'Enter weight: '))
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(f'The average weight is {sum(alist)[2:]/len(alist[2:])}')
  except ZeroDivisionError:
    print('List alist is empty!')

if __name__ == "__main__":
  try:
   n=int(input('Enter size of list: '))
   alist=getValues(n)
   calcAverage(alist)
  except ValueError:
    print('Cannot be casted as int()')

Enter size of list: 9/
Cannot be casted as int()